<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->

<head>
    <meta charset="UTF-8" />
    <title>Add / Edit an Animal</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/addOrEdit.css" th:href="@{/static/css/addOrEdit.css}"/>
</head>

<body>
<!--/*@thymesVar id="animal" type="com.theironyard.entity.Animal"*/-->
<header>
    <h1>Animal Shelter</h1>

    <div class="two_columns">
        <a href="HomePg.html"> List Animals </a> | <a href="AddOrEdit.html"> Add an Animal </a>
    </div>

    <h2 class="pageTitle"> Edit/Add an Animal</h2>
    <h4><sup>*</sup>indicates a required field</h4>

</header>

<form action="HomePg.html" method="post">
    <section>
        <p>
            <label>
                Name<sup>*</sup>:
            </label>
        </p>
        <p>
            <label>
                Species<sup>*</sup>:
            </label>
        </p>

        <p>
            <label>
                Breed<sup>*</sup>:
            </label>
        </p>

        <p>
            <label>
                Description<sup>*</sup>:
            </label>
        </p>
        <br/><br/><br/><br/><br/><br/>
        <p id="photo">Photo: </p>
    </section>

    <section id = "column2">
        <input type="text" name="name" id="one" value=" " />


        <select id="two"> name = "select"> <option>Cat->Change Later</option> </select>

        <input id="three" type="text" name="breed"  value="" />

        <textarea rows="9" name = "description" id="four" > </textarea>

        <input type="hidden" name="id" id="five" value="" />
        <br/>

        <input for="browse" class="save" type="file" />
        <br/>
        <button id="save" name="button">Save Animal</button>
    </section>

</form>

</body>

</html>