<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="bindingResult" type="org.springframework.validation.BindingResult"*/-->
<!--/*@thymesVar id="animal" type="com.theironyard.entity.Animal"*/-->
<head>
    <title>Animal Shelter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <meta charset="utf-8"/>
</head>


<body class="content">

<form>
    <header>
        <h1>Animal Shelter</h1>

        <div class="two_columns">
            <a th:href="@{/}" href="HomePg.html"> List Animals </a> | <a th:href="@{/AddOrEdit}" href="AddOrEdit.html">
            Add an Animal </a>
        </div>
        <h2 class="pageTitle">List Animals</h2>
        <h4>Search for an animal: </h4>

    </header>

    <form th:action="@{/}" th:object="${search}" action="HomePg.html" method="get">
        <menu>
            <input th:field="*{name}" type="text" name="name" id="name" value="" placeholder="Name"/>

            <!--/*@thymesVar id="types" type="com.theironyard.entity.AnimalType"*/-->
            <select name="typeId">
                <option
                        th:each="type: ${types}"
                        th:value="${type.getTypeID()}"
                        th:text="${type.getSpecies()}"> All Types
                </option>

            </select>

            <button name="button">Search</button>
        </menu>

    </form>


    <!-- main section of my page -->
    <section>
        <!--/*@thymesVar id="animals" type="com.theironyard.entity.Animal"*/-->
        <div class="row" th:each="animal:${animals}">
            <img th:src="@{images/dog_selfie.png}" src="../static/images/dog_selfie.png"/>
            <p>
            <h2><a href="AddOrEdit.html" th:href="@{/AddOrEdit(id=${animal.animalID})}" th:text="${animal.animalName}">Doggy</a>
            </h2>
            <strong>Type:</strong> <span th:text="${animal.type.getSpecies()}">Parrot</span>
            <br/>
            <strong>Breed:</strong> <span th:text="${animal.breed}">Silent Parrot</span>
            <br/>
            <strong>Description:</strong> <span th:text="${animal.description}">Quiet</span>
            <br/>
            <strong>Notes:</strong> <a th:href="@{/Notes(id=${animal.animalID})}" href="NotePg.html">5 Notes</a>
            <br/>
            <a th:href="@{/DeleteAnimal(id=${animal.animalID})}" href="HomePg.html"> <img
                    th:src="@{/images/delete_trashcan.jpeg}" src="../static/images/delete_trashcan.jpeg"
                    style="width:50px; height: 50px;"/></a>
            </p>

        </div>
    </section>

</form>
</body>

</html>